
spring:
  application:
    name: gatewayserver
  config:
    import: "optional:configserver:http://localhost:8071/"
  cloud:
    gateway:
      httpclient:
        connect-timeout: 1000
        response-timeout: 10s
      discovery:
        locator:
          enabled: false
          lowerCaseServiceId: true
      mvc:
        routes:
          - id: loans
            uri: lb://loans
            predicates:
              - Path=/loans/**
          - id: accounts
            uri: lb://accounts
            predicates:
              - Path=/accounts/**
          - id: cards
            uri: lb://cards
            predicates:
              - Path=/cards/**
          - id: gatewayserver
            uri: lb://gatewayserver
            predicates:
              - Path=/gatewayserver/**
  data:
    redis:
      connect-timeout: 2s
      host: localhost
      port: 6379
      timeout: 1s
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

info:
  app:
    name: "gatewayserver"
    description: "Eazy Bank Gateway Server Application"
    version: "1.0.0"

logging:
  level:
    com:
      eazybytes:
        gatewayserver: DEBUG
resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 2
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
